/*Общие правила*/

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Шапка(навигация)*/

.main-header {
  background-color: #eeeeee;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 auto;
  padding-bottom: 117px;
  padding-top: 67px;
}

.logo-button {
  margin-right: 200px;
}

.main-navigation {
  width: 1160px;
  padding: 50px 20px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inner-page .main-navigation {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.site-navigation {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.site-navigation li+li {
  margin-left: 45px;
}

.site-navigation .active {
  padding-top: 6px;
  border-bottom: 2px solid #fb565a;
}

.active {
  padding-top: 6px;
}

.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 22px;
  margin-left: auto;
  position: relative;
}

.cart::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 11px;
  left: 3px;
}

.site-navigation a,
.cart a {
  color: #000000;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  opacity: 0.3;
  color: #000000;
}

.logo-button:active {
  opacity: 0.3;
}

/*Слайдер*/

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 82px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-item-button {
  padding-top: 17px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 94% 12px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% -5px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 13px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}

.button-slider-more {
  margin: 0;
  padding: 18px 0;
  width: 240px;
}

/*Продукты */

.products-list {
  padding: 0 0 80px 0;
  border-bottom: 2px solid;
  border-color: #eeeeee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin-bottom: 70px;
}

.products-item+.products-item {
  margin-left: 100px;
}

.products-item img {
  margin: 0;
  padding: 0;
}

.products-item h3 {
  margin: 0;
  padding-top: 19px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.products-item p {
  padding-left: 4px;
  padding-bottom: 13px;
  max-width: 260px;
  color: #283136;
}

.products-item a {
  text-transform: uppercase;
  color: #ffffff;
}

.button-product {
  display: block;
  width: 160px;
  padding: 17px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.button-product-red {
  background-color: #fb565a;
}

.button-product-red:hover,
.button-product-red:focus {
  background-color: #e74246;
}

.button-product-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-product-green {
  background-color: #00ca74;
}

.button-product-green:hover,
.button-product-green:focus {
  background-color: #00bc6c;
}

.button-product-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-product-yellow {
  background-color: #efc84a;
}

.button-product-yellow:hover,
.button-product-yellow:focus {
  background-color: #eab534;
}

.button-product-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*О нас*/

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 72px;
}

.about li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  margin-bottom: 2px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-wrapper {
  margin: 0;
  padding: 0;
  max-width: 660px;
}

.about-wrapper2 {
  margin-top: -30px;
  margin-right: -10px;
  padding: 0;
  -webkit-flex-basis: 360px;
      -ms-flex-preferred-size: 360px;
          flex-basis: 360px;
}

.about p:nth-child(2) {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about p:nth-child(3) {
  margin: 0;
  padding-top: 35px;
}

.about p:nth-child(4) {
  margin: 0;
  padding-top: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-we-do {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  list-style: none;
}

.about-we-do li:nth-child(1) {
  margin: 0;
  padding-top: 10px;
}

.about-we-do li:nth-child(2) {
  margin: 0;
  padding-top: 23px;
}

.about-we-do li:nth-child(3) {
  margin: 0;
  padding-top: 25px;
}

.stats caption {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 28px;
}

.stats td {
  font-size: 45px;
  font-weight: 700;
  line-height: 27.5px;
  padding-top: 45px;
}

.stats th {
  line-height: 18px;
  font-weight: 400;
  color: #283136;
  padding-top: 27px;
  text-align: left;
  vertical-align: top;
}

.stats-item {
  padding-right: 20px;
}

.stats-item sup {
  margin: -3px;
  font-weight: 400;
  font-size: 30px;
  top: -0.4em;
}

/*Партнеры*/

.partners {
  margin-bottom: 80px;
}

.partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 1160px;
      -ms-flex-preferred-size: 1160px;
          flex-basis: 1160px;
}

.partners-item {
  position: relative;
  padding: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 300px;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 180px;
}

.partners-item:first-child,
.partners-item:last-child {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 280px;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
}

.partners-item a {
  display: block;
  opacity: 0.2;
}

.partners-item img {
  display: block;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}

.partners-item+.partners-item::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: -1px;
  margin-top: -26px;
  width: 2px;
  height: 52px;
  background-color: black;
  opacity: 0.1;
}

/*Фильтры*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  padding-top: 7px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters {
  color: #283136;
  font-size: 16px;
  line-height: 20px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 27px;
}

.filters .filter-item {
  margin-bottom: 57px;
}

.filters .filter-name {
  padding-bottom: 20px;
  margin-left: 2px;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-input {
  color: #283136;
}

.filter-option {
  margin-bottom: 18px;
  padding-left: 38px;
  color: #888b8d;
}

.filter-option:hover,
.filter-option:focus {
  color: #6b6b6b;
}

.filter-option:active {
  color: #e9eaea;
}

.filter-option:last-child {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox:not(:checked)+label::before {
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::after {
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label:hover::before,
.filter-input-checkbox:checked+label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:checked:hover::after,
.filter-input-checkbox:checked+label:focus::after {
  opacity: 1;
}

.filter-input-checkbox+label:hover::after,
.filter-input-checkbox+label:focus::after {
  opacity: 1;
}

.filter-input-checkbox+label:hover::before,
.filter-input-checkbox+label:focus::before {
  opacity: 1;
}

.filter-input-checkbox:disabled+label {
  opacity: 0.3;
}

.filter-option:disabled {
  opacity: 0.3;
  border: 1px solid black;
}

.filter-input-radio:not(:checked)+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked+label:hover::after,
.filter-input-radio:checked+label:focus::after {
  opacity: 1;
}

.filter-input-radio+label:hover::after,
.filter-input-radio+label:focus::after {
  opacity: 1;
}

.filter-input-radio+label:hover::before,
.filter-input-radio+label:focus::before {
  opacity: 1;
}

.filter-input-radio:checked+label:hover::before,
.filter-input-radio:checked+label:focus::before {
  opacity: 1;
}

.filter-input-radio:disabled+label {
  opacity: 0.3;
}

.button-submit-filter {
  display: block;
  width: 260px;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
  margin-top: 34px;
}

.button-submit-filter:hover {
  background-color: #dfdfdf;
}

.button-submit-filter:active {
  color: #b2b2b2;
  background-color: #d5d5d5;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Сортировка*/

.sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-basis: 760px;
      -ms-flex-preferred-size: 760px;
          flex-basis: 760px;
  margin-bottom: 52px;
}

.buttons-sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 10px;
}

.sort p:nth-child(2) {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-sort {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.button-sort:hover {
  opacity: 0.6;
}

.button-sort:active {
  opacity: 1;
}

.button-sort-price {
  padding: 0;
  margin: 0;
  margin-right: 24px;
}

.button-sort-type {
  padding: 0;
  margin: 0;
  margin-right: 26px;
}

.button-sort-name {
  padding: 0;
  margin: 0;
  margin-right: 47px;
}

.button-sort-down {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  margin-right: 11px;
  font-size: 0;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-sort-up {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  font-size: 0;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Каталог*/

.catalog-sort-wrapper {
  margin: 0;
  padding: 0;
  margin-left: 140px;
}

.catalog {
  margin: 0;
  padding: 0;
}

.catalog-colums {
  margin-top: 47px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 58px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}

.catalog-item {
  margin: 0;
  padding: 0;
  position: relative;
  height: 575px;
  width: 359px;
  margin-bottom: 35px;
  margin-right: 40px;
  padding-top: 40px;
}

.catalog-item img {
  display: block;
  max-height: 575px;
  max-width: 358px;
  border: 1px solid #e5e5e5;
}

.catalog-item::before {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 40px;
  content: " ";
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 0;
  opacity: 0.12;
  padding-top: 23px;
}

.catalog-item:hover .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item div a:nth-child(1) {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item div p {
  color: #666666;
  line-height: 18px;
  padding-bottom: 12px;
}

.catalog-item div a:nth-child(3) {
  color: #ffffff;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.price {
  display: none;
  background-color: #eeeeee;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  bottom: 0;
  width: 361px;
  min-height: 230px;
  max-height: 574px;
}

.price h3 {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.price p {
  padding: 0;
  margin: 0;
  padding-top: 13px;
  overflow: auto;
  overflow-x: hidden;
  max-width: 200px;
  max-height: 380px;
  margin-bottom: 20px;
}

.button-price {
  padding-top: 17px;
  width: 200px;
  margin-bottom: 45px;
  background-color: #fb565a;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Пагинация*/

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pagination-item {
  min-width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  background-color: #eeeeee;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  color: #959595;
  background-color: #d5d5d5;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item a:active {
  color: #959595;
}

.pagination-item-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  width: 44px;
  height: 44px;
}

.pagination-item:last-child {
  width: 260px;
  height: 50px;
}

/*Футер Адрес*/

.map {
  background-image: url('../img/map-marker.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 416px;
}

.adress-inner {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.address {
  position: absolute;
  padding: 48px 50px;
  background-color: #ffffff;
  top: 54px;
  left: 20px;
}

.address p:nth-child(1) {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 3px;
}

.address p:nth-child(2) {
  margin: 0;
  padding-top: 24px;
  line-height: 18px;
  color: #666666;
  max-width: 205px;
}

.address p:nth-child(3) {
  margin: 0;
  padding-top: 19px;
  line-height: 18px;
  color: #666666;
}

.button-adress {
  margin-top: 36px;
  padding-top: 17px;
  max-width: 220px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

/*Футер*/

footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

footer p:nth-child(4) {
  line-height: 22px;
  color: #444444;
}

.footer-social {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0 auto;
}

.social-list {
  margin: 0;
  padding: 0;
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.lets-friend {
  padding: 0;
  margin: 0;
  margin-left: 140px;
  margin-top: -15px;
}

.lets-friend p:nth-child(2){
  margin-top: -5px;
}

.social-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-items:hover,
.social-items:focus {
  background-color: #e74246;
}

.social-items:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Модальное окно*/

.modal {
  position: fixed;
  z-index: 101;
  min-height: 590px;
  width: 960px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  display: none;
}

.feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 70px 90px 80px 100px;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.3s;
          animation: bounce 0.3s;
}

.modal-error {
  -webkit-animation: shake 0.3s;
          animation: shake 0.3s;
}

.modal-mail {
  top: 50%;
  left: 50%;
  margin-top: -295px;
  margin-left: -480px;
}

.button-close {
  position: absolute;
  top: 80px;
  right: 92px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -2px;
  width: 26px;
  height: 3px;
  background-color: #fecccd;
}

.button-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal h2 {
  margin: 0;
  padding-bottom: 27px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  margin: 0;
  padding: 0;
}

.feedback label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 11px;
  margin-right: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.feedback input[type="text"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  color: #444444;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  width: 360px;
  padding: 10px 15px;
  padding-right: 40px;
}

.feedback textarea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  color: #444444;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  padding-right: 40px;
  width: 760px;
  height: 118px;
}

.letter-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 24px;
}

.button-submit {
  height: 54px;
  width: 258px;
}

/* Анамиция для модального окна */
/* Анимация открытия */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Анимация ошибки */
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}